body {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: auto minmax(auto, 1000px) auto;
    grid-template-areas: ". grid .";
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow-y: scroll;
}

p {
    margin: 0px;
}

@-moz-document url-prefix() { /* Disable scrollbar Firefox */
    html {
      scrollbar-width: none;
    }
}

body::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* Disable scrollbar Chrome/Safari/Webkit */
}

#grid {
    grid-area: grid;
    display: grid;
    grid-template-rows: 8vh auto 3vh;
    grid-template-areas: 
        "header"
        "main"
        "footer";
    height: 100vh; 
    width: 100%;
}

#header {
    grid-area: header;
    display: grid;
    grid-template-columns: 30% auto 30%;
    grid-template-areas:
        "search logo cart";
    background-color: #c9c9c9;
        
}


#logo {
    grid-area: logo;
    background-image: url('../images/musikland-ohz_logo.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}


#search {
    grid-area: search;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: nowrap;
}

#search > input {
    border-radius: 2em;
    height: 100%;
}

#cart {
    grid-area: cart;
    position: relative;
    display: inline-block;
}

#cart-grid {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: nowrap;
}
  
#cart-content {
    display: none;
    position: absolute;
    background-color: white;
    width: 100%;
    z-index: 1;
}

#cart:hover #cart-content {
    display: grid;
    min-height: 20vh;
}

.cart-item {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: nowrap;
}

#main {
    grid-area: main;
}

#items {
    margin: 50px 0px;
}

.item-container::after{ 
    display: block;
    content: '';
    width: 100%;
    margin: 20px 0px;
    height: 1px;
    background: black;
    bottom: 0;
    left: 0;
}

.item-container:last-child::after {
    display: none;
}

.item {
    height: 10vw;
    display: grid;
    grid-template-columns: 15vw auto 20vw;
}

.item-image, #product-image {
    background-color: white;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.item-info {
    padding-left: 10px;
    grid-template-rows: auto auto 1fr;
}

.item-title {
    margin-bottom: 0;
    display: inline-block;
}

.item-type {
    margin-top: 0;
    color: grey;
    font-size: 0.8em;
}

.item-desc {
    margin-top: 16px;
}

.item-price {
    display: grid;
    grid-template-rows: 80% 20%;
    grid-template-columns: auto auto;
    grid-template-areas: 
    "price amount"
    "button button";
    align-items: flex-end;
}

.item-price > * {
    width: 100%;
}

.item-price > p {
    margin-bottom: 1px;
}

.item-price > button {
    height: 100%
}

.item-submit {
    grid-area: button;
}

#product {
    height: 100%;
    display: grid;
    grid-template-rows: 10% 35% auto;  
}

#product-cart {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
    border-bottom: 1px solid black;
}

#product-cart > * {
    min-width: 50%;
}

#product-image {
    height: 80%;
}

#product-buy {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
}

#product-quan > *{
    margin: 10px 0px;
}

#product-submit {
    height: 4vh;
    width: 50%;
}

#product-additional {
    display: grid;
    grid-template-columns: 50% 50%;
}

#product-additional > * {
    min-width: 50%;
    margin: 0px 20px;
    text-align: justify;
}

.review-container {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
}

#checkout {
    display: grid;
    height: 100%;
    grid-template-rows: 35% 30% 25%;
}

#checkout-content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-bottom: 1px solid black;
}

#checkout-header {
    border-bottom: 1px solid grey;
}

#checkout-header > * {
    padding: 10px 0px;
    border-bottom: 1px solid grey;
}

#checkout-header, .checkout-item {
    display: grid;
    word-break: break-all;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    text-align: center;
}

#checkout-header > *, .checkout-item > * {
    border-right: 2px solid gray;
}

#checkout-header > *:last-child, .checkout-item > *:last-child {
    border-right: none;
}

#checkout-money {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

#checkout-money > p {
    flex-basis: 50%;
}

#checkout-info {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-evenly;
}

#checkout-data {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

#checkout-data > * {
    flex-basis: 49%;
}

#footer {
    grid-area: footer;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: nowrap;
}