body {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: auto minmax(auto, 1000px) auto;
    grid-template-areas: ". grid .";
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow-y: scroll;
}

@-moz-document url-prefix() { /* Disable scrollbar Firefox */
    html {
      scrollbar-width: none;
    }
}

body::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* Disable scrollbar Chrome/Safari/Webkit */
}

#grid {
    grid-area: grid;
    display: grid;
    grid-template-rows: 8vh auto 3vh;
    grid-template-areas: 
        "header"
        "main"
        "footer";
    height: 100vh; 
    width: 100%;
}

#header {
    grid-area: header;
    display: grid;
    grid-template-columns: 20% auto 20%;
    grid-template-rows: 50% 50%;
    grid-template-areas:
        "leftmenu logo rightmenu"
        "search logo cart";
    background-color: #c9c9c9;
        
}

#leftmenu {
    grid-area: leftmenu;
}

#logo {
    grid-area: logo;
    background-image: url('../images/musikland-ohz_logo.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

#rightmenu {
    grid-area: rightmenu;
}

#search {
    grid-area: search;
    margin: 5px;
}

#search > input {
    border-radius: 2em;
    height: 100%;
}

#cart {
    grid-area: cart;
    background-color: blue;
    position: relative;
    display: inline-block;
}

#cart-grid {
    display: grid;
    grid-template-columns: 70% 30%;
    justify-items: center;
    align-items: center;
}

#cart-grid > p {
    display: flex;
    justify-content: center;
    align-items: center;
}
  
#cart-content {
    display: none;
    position: absolute;
    background-color: inherit;
    width: 100%;
    z-index: 1;
}

#cart:hover #cart-content {
    display: grid;
}

#main {
    grid-area: main;
}

#items {
    margin: 50px 0px;
}

.item-container::after{ 
    display: block;
    content: '';
    width: 100%;
    margin: 20px 0px;
    height: 1px;
    background: black;
    bottom: 0;
    left: 0;
}

.item-container:last-child::after {
    display: none;
}

.item {
    height: 15vw;
    display: grid;
    grid-template-columns: 15vw auto 20vw;
}

.item-image {
    background-color: white;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.item-info {
    padding-left: 10px;
    grid-template-rows: auto auto 1fr;
}

.item-title {
    margin-bottom: 0;
}

.item-type {
    margin-top: 0;
    color: grey;
    font-size: 0.8em;
}

.item-price {
    display: grid;
    grid-template-rows: 80% 20%;
    align-items: flex-end;
}

.item-price > p {
    margin-bottom: 1px;
}

.item-price > button {
    height: 100%
}


#footer {
    grid-area: footer;
}
